/* styles.css */

/* Add styles here to customize the appearance of your app */

@font-face {
    font-family: Roboto;
    src: url('./assets/Roboto-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('./assets/OpenSans-VariableFont.ttf');
}

@font-face {
    font-family: PlusJakartaSans;
    src: url('./assets/PlusJakartaSans.ttf');
}

@font-face {
    font-family: SourceCodePro;
    src: url('./assets/SourceCodePro-VariableFont_wght.ttf');
}





:root {
    --accent-color: #89c3ff;
    --accent-color-dim: #abc6e3;
    --scrollbar-color: #ff267e;
    --app-background: #fafafa;
    --test: #89c3ff;
    padding: 2px;
    user-select: none;
    font-family: PlusJakartaSans, Roboto, sans-serif;
    font-size: 10pt;
}

html {
    margin: 0;
}

.hide {
    display: none !important;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    overflow: hidden;
    background: var(--app-background);
}

.pinned::part(base) {
    color: red;
}